@font-face {
    font-family: 'poppin';
    src: url('../fonts/Poppins-Regular.ttf');
}

*, *::before, *::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 5%;
    background-color: #eed4eb;
    border: 1px solid #eed4eb;
    border-radius: 5px;
    margin: 10 px 20px 10px 20px;
    height: 75%;
}

.content{
    background-color: #f9fbfc;
    border: 1px solid #f9fbfc;
    border-radius: 25px;
    min-width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem 1rem 1rem;
    margin-top: 25px;
    margin-bottom: 25px;
}

.title{
    color: #272d3a;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

 label{
    color: #868686;
    font-size: 18px;
    margin-left: 15px;
}

input, select {
    border: 1px solid #9b9c9c;
    border-radius: 10px;
    width: 100%;
    height: 50px; 
    padding-left: 2rem;
    margin-left: 15px;
}

 #firstNumber, #secondNumber , #operator {
    color: #484848;
    font-size: 20px;
}

#result{
    color: #9747ff;
    font-size: 20px;
}

#button {
    color: #ffff;
    font-size: 15px;
    font-weight: bold;
    background-color: #9747ff;
    border: 1px solid #9747ff;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin-left: 15px;
    justify-content: center;
    text-align: center;


}

